api_platform:
  title: 'Bookshop Catalog'
  version: 1.0.0
  show_webby: false
  path_segment_name_generator: api_platform.metadata.path_segment_name_generator.dash
  mapping:
    paths:
      - '%kernel.project_dir%/src/Catalog/Presentation/ApiPlatform/'
  exception_to_status:
    Webmozart\Assert\InvalidArgumentException: 422
  # The list of enabled formats. The first one will be the default.
  formats:
    jsonld:
      mime_types:
        - application/ld+json
    json:
      mime_types:
        - application/json
  defaults:
    stateless: true
    cache_headers:
      vary: [ 'Content-Type', 'Authorization', 'Origin' ]
    normalization_context:
      datetime_format: 'Y-m-d\TH:i:s.u\Z'
      skip_null_values: false
    pagination_client_items_per_page: true
    pagination_items_per_page: 30
    pagination_maximum_items_per_page: 100
