api_platform:
  title: 'Bookshop Catalog'
  version: 1.0.0
  show_webby: false
  mapping:
    paths:
      - '%kernel.project_dir%/src/Catalog/Presentation/ApiPlatform/'
  exception_to_status:
    Webmozart\Assert\InvalidArgumentException: 422
  # The list of enabled formats. The first one will be the default.
  formats:
    jsonld:
      mime_types:
        - application/ld+json
    json:
      mime_types:
        - application/json
  defaults:
    stateless: true
    cache_headers:
      vary: [ 'Content-Type', 'Authorization', 'Origin' ]
