<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="var/cache/phpunit"
         colors="true"
         requireCoverageMetadata="true"
         failOnWarning="true"
         failOnRisky="true"
         failOnPhpunitDeprecation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true"
         executionOrder="depends,defects"
         displayDetailsOnPhpunitDeprecations="true"
         shortenArraysForExportThreshold="10"
>
    <testsuites>
        <testsuite name="Catalog">
            <directory>tests/Catalog</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
        <bootstrap class="Zenstruck\Foundry\PHPUnit\FoundryExtension"/>
    </extensions>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="11.5"/>
    </php>
</phpunit>
