rules:
    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule
    - Symplify\PHPStanRules\Rules\Complexity\NoConstructorOverrideRule
    - Symplify\PHPStanRules\Rules\ForbiddenExtendOfNonAbstractClassRule
    - Symplify\PHPStanRules\Rules\ForbiddenStaticClassConstFetchRule
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule
    - Symplify\PHPStanRules\Rules\NoReferenceRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

services:
    -
        class: Symplify\PHPStanRules\Rules\Complexity\ForbiddenNewArgumentRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenTypes:
                - App\Catalog\Book\Infrastructure\Doctrine\DoctrineBookRepository
                - App\Catalog\Book\Infrastructure\Ecotone\EcotoneBookRepository
                - App\Catalog\Book\Presentation\ApiPlatform\BookFinder
                - App\Catalog\Book\Presentation\ApiPlatform\Get\GetBookProvider
                - App\Shared\Infrastructure\ApiPlatform\Processor\EntityToDtoProcessor
                - App\Shared\Infrastructure\ApiPlatform\Provider\EntityToDtoProvider
