rules:
    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule
    - Symplify\PHPStanRules\Rules\Complexity\NoConstructorOverrideRule
    - Symplify\PHPStanRules\Rules\ForbiddenExtendOfNonAbstractClassRule
    - Symplify\PHPStanRules\Rules\ForbiddenStaticClassConstFetchRule
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule
    - Symplify\PHPStanRules\Rules\NoReferenceRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

services:
    -
        class: Symplify\PHPStanRules\Rules\Complexity\ForbiddenNewArgumentRule
        tags: [phpstan.rules.rule]
        arguments:
            forbiddenTypes: []
